* {
    margin: 0;
    padding: 0;
   

}

.Navbar {
    display: flex;
    background-color: rgb(4, 4, 4);
    height: 3rem;
}

#box1 {
    margin: 7px 17px;
    padding: 1px 1px;
    display: flex;
    margin: 3px 17px;
    padding: 6px 11px;
}
#box1 h1{
    color: whitesmoke;
}

.Navbar #box1 img{
    height: 34px;
}
#box2 {
    border-radius: 2px;
    margin: 9px 7px;
    padding: 5px 13px;
}
.Navbar #box2 ul {
    display: flex;
}
.Navbar #box2 ul li{
    list-style: none;
}
.btn {
    margin: 0px 35px;
}
.btn a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    
}
.btn a:hover{
    border: 2px solid white;
    border-radius: 5px;
    background-color:white;
    color: black;
    font-size: 1rem;

}


#box3 {
    display: inline-block;
    position: absolute;
    right: 26px;
    top: 11px;
    border-radius: 2px;
    padding: 3px 70px;
    width: 100%;
    max-width: 267px;
    background: rgb(165, 161, 161);
    padding: 6px 13px;
    border-radius: 56px;
}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}
/*-------SECTION-1-----*/
.mainsection{
    display: flex;
    flex-direction: column;
    margin: 0px -4px;
    padding: 7px 4px;
    height: 570px;
    justify-content: center;
    
}

.mainsection h1{
    padding: 2px 36px;
    margin: 6px;
    text-align: left;
    color: aliceblue;
    font-size: 4rem;
}

.mainsection p{
    margin: 7px 4px;
    padding: 0px 42px;
    text-align: left;
    color: whitesmoke;
    font-size: 2rem;
}

.mainsection::before{
    content: "";
    position: absolute;
    background:url('/project_01/project_img/img3.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/*-------SECTION-2-----*/
.primary-section{
    border: 5px solid rgb(213, 209, 209);
    border-radius: 5px;
    height: 325px;
}
.primary-section::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;

}
.h-primarysection{
    text-align: center;
    color: darkgrey;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
   /* border: 2px solid red;*/
}
    #services .box h2{
        text-align: center;
        color: antiquewhite;
    }
    #services .box p{
        text-align: center;
        color: antiquewhite;
    }
#services .box img{
    border: 2px solid black;
    border-radius: 28px;
    height: 100px;
    margin: auto;
    display: block;
}
.box:hover{
    border: 2px solid black;
    border-radius: 45px;
    background-color: darkgrey;
    color: black;
    transform: translateX(3px);
}


/*------------Sction-3---------*/
.secondary-section{
    /*border: 5px solid gray;
    border-radius: 5px;*/
    height: 500px;
}

.h-secondarysection{
    text-align: center;
    color: darkgrey;
}
#services-1{
    margin: 34px;
    display: grid;
    grid-template-columns: 275px 274px 266px 278px;
}
#services-1 .box{
   /* border: 2px solid red;*/
}
    #services-1 .box h2{
        text-align: center;
        color: antiquewhite;
    }
    #services-1 .box p{
        text-align: center;
        color: antiquewhite;
    }
#services-1 .box img{
    border: 2px solid black;
    border-radius: 28px;
    height: 100px;
    margin: auto;
    display: block;
}
#services-1 .box:hover{
    border: 2px solid black;
    border-radius: 45px;
    background-color: darkgrey;
    color: black;
    transform: translateX(3px);
}
.secondary-section::before{
    content: "";
    position: absolute;
    background:url('/project_01/project_img/img-10.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
/*-------SECTION-4-----*/
.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.third-section h1{
    font-size: 3rem;
    color: whitesmoke;
}
.third-section h4{
    font-size: 1rem;
    color: whitesmoke;

}

.third-section .btn{
    margin: 0px 28px;
    padding: 8px 46px;
    border-radius: 25px;

}
.third-section::before{
    content: "";
    position: absolute;
    background:url('/project_01/project_img/img-14.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
/*---------Footer---------*/
.lastsection{
    display: grid;
    grid-template-columns: 12rem 37rem 11rem;
    margin: 0px;
    padding: 26px;
    background-color: rgb(47, 46, 48);
    color: antiquewhiteer;
}